<header *ngIf="!exam?.showProgress else spezialHeader">
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="./assets/images/favicon/favicon-32x32.png">
      <span class="fs-6">Lern und Pr&uuml;fsimulator</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a routerLink="/start" routerLinkActive="active-class" class="me-3 py-2 text-dark text-decoration-none">Startseite</a>
      <a routerLink="/learning" routerLinkActive="active-class" class="me-3 py-2 text-dark text-decoration-none">Lernmodus</a>
      <a routerLink="/vorpruefung" routerLinkActive="active-class" class="me-3 py-2 text-dark text-decoration-none">Teilprüfung</a>
    </nav>
  </div>
</header>

<ng-template #spezialHeader>
  <header class="d-flex justify-content-between pb-3 mb-4 border-bottom">
    <div class="align-self-start">
      <img src="./assets/images/favicon/favicon-32x32.png">
      <span class="fs-6" style="margin-right: 16px;">Pr&uuml;fungssimulation</span>
      <span id="timereinheit" class="fs-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 20 20">
          <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"></path>
          <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"></path>
        </svg>&nbsp;<span id="zeit"></span>
      </span>
    </div>

    <div id="progressbar" class="align-self-center progress" [style.width.%]="progressBarWidth">
      <div *ngIf="pause" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" [style.width.%]="100">Pr&uuml;fung angehalten</div>
      <div *ngIf="examProgress < 100 && !exam?.examFailed && !pause" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="examProgress">{{examProgress}}% Bearbeitet</div>
      <div *ngIf="examProgress >= 100 && !exam?.examFailed && !pause" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [style.width.%]="100">Alle Fragen wurden bearbeitet</div>
      <div *ngIf="exam?.examFailed" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" [style.width.%]="100">Pr&uuml;fung abgebrochen</div>
      <div *ngIf="examProgress >= 100 && !exam?.examFailed && exam.examDone" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [style.width.%]="100">Alle Fragen wurden bearbeitet</div>
    </div>

      <nav *ngIf="exam?.examStarted && !exam?.examFailed && !exam?.examDone && examProgress < 100" class="align-self-end">

        <button (click)="machePause(true);" type="button" class="btn btn-sm btn-outline-danger"
          data-toggle="modal" data-target="#cancelExam">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-skip-end"
            viewBox="0 0 18 18">
            <path
              d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.713 3.31 4 3.655 4 4.308v7.384c0 .653.713.998 1.233.696L11.5 8.752V12a.5.5 0 0 0 1 0V4zM5 4.633 10.804 8 5 11.367V4.633z">
            </path>
          </svg>
          Abbruch
        </button>

        <div class="modal fade" id="cancelExam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Pr&uuml;fung abbrechen?</h5>
              </div>
              <div class="modal-body">
                Sind Sie sicher, dass Sie die Pr&uuml;fung abbrechen m&ouml;chten?
                Damit verlassen Sie diesen Modus und die Pr&uuml;fung wird nicht anerkannt!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="machePause(false);" data-dismiss="modal">Nein</button>
                <button type="button" class="btn btn-outline-success" (click)="cancelExam(2); machePause(false);" data-dismiss="modal">Ja</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
  </header>
</ng-template>
