<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Herzlich willkommen</h1>
  <p class="fs-5 text-muted">In diesem Lern und Pr&uuml;fungssimulator k&ouml;nnen Sie bequem Fragen lernen, an der Pr&uuml;fungsvorbereitung teilnehmen oder sogar die Pr&uuml;fung simulieren.</p>
  <p class="fs-5 text-muted">Wir empfehlen, lernen Sie erstmal die Fragen. Wir w&uuml;nschen viel gl&uuml;ck!</p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Pr&uuml;fungsvorbereitung</h4>
      </div>
      <div class="card-body">
        <h6 class="card-title pricing-card-title"><small class="text-muted fw-light"><i class="bi bi-stopwatch"></i> 60 Sekunden/Frage</small></h6>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Alle Fragen einzelnt</li>
          <li>Mit Hilfetexte.</li>
          <li>Stopp bei Falschantwort</li>
          <li>Mehr Zeit als bei der Pr&uuml;fung.</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Zur Vorbereitung</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Lernmodus</h4>
      </div>
      <div class="card-body">
        <h6 class="card-title pricing-card-title"><small class="text-muted fw-light"><i class="bi bi-stopwatch"></i> Unlimitiert</small></h6>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Alle Fragen als Liste.</li>
          <li>Jede Frage im Detail einsehbar.</li>
          <li>L&ouml;sungen direkt einsehen.</li>
          <li>Falsche antworten direkt einsehen.</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">Zum Lernmodus</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Pr&uuml;fungssimulation</h4>
      </div>
      <div class="card-body">
        <h6 class="card-title pricing-card-title"><small class="text-muted fw-light"><i class="bi bi-stopwatch"></i> 20 Sekunden/Frage</small></h6>
        <ul class="list-unstyled mt-3 mb-4">
          <li>100 Fragen aus dem Pool</li>
          <li>Keine Hilfestellung.</li>
          <li>Auswertung am Ende.</li>
          <li>Punktebasiert</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Zur Pr&uuml;fungssimulation</button>
      </div>
    </div>
  </div>
</div>
