<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Herzlich willkommen</h1>
  <p class="fs-5 text-muted">In diesem Lern und Pr&uuml;fungssimulator k&ouml;nnen Sie bequem Fragen lernen, eine Teilpr&uuml;fung absolvieren und die Pr&uuml;fung simulieren.</p>
  <p class="fs-5 text-muted">Wir w&uuml;nschen viel Erfolg!</p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Teilpr&uuml;fung</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Frei w&auml;hlbare Frage.</li>
          <li>Hilfetexte zum &uuml;berlegen.</li>
          <li>Teste den erlernten Stoff ohne Stress.</li>
        </ul>
        <button routerLink="/vorpruefung" type="button" class="w-100 btn btn-lg btn-outline-primary">Zur Teilpr&uuml;fung</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Lernmodus</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Jede Frage im Detail einsehbar.</li>
          <li>L&ouml;sungen direkt einsehbar.</li>
          <li>Lerne in deinem Tempo.</li>
        </ul>
        <button routerLink="/learning" type="button" class="w-100 btn btn-lg btn-primary">Zum Lernmodus</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Pr&uuml;fungssimulation</h4>
      </div>
      <div class="card-body">
        <h6 class="card-title pricing-card-title"><small class="text-muted fw-light"><i class="bi bi-stopwatch"></i> 5 Minuten</small></h6>
        <ul class="list-unstyled mt-3 mb-4">
          <li>24 zuf&auml;llige Fragen.</li>
          <li>Keine Hilfestellung.</li>
        </ul>
        <button routerLink="/pruefung" type="button" class="w-100 btn btn-lg btn-outline-primary">Zur Pr&uuml;fungssimulation</button>
      </div>
    </div>
  </div>
</div>
