<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Pr&uuml;fungssimulation</h1>
  <p class="fs-5 text-muted">Hier ist Ihr k&ouml;nnen gefragt!.</p>
</div>

<!-- <lps-poollist *ngIf="!poolSelected"></lps-poollist>

<div class="row row-cols-2 row-cols-md-2 mb-0">
<lps-questionlist *ngIf="poolSelected"></lps-questionlist>

<div *ngIf="!questionSelected && poolSelected" class="col-mb-8">
  <div class="card d-flex justify-content-center text-center h-100">
    <span class="text-primary">Bitte wähle eine Frage aus</span>
  </div>
</div>

<lps-question *ngIf="questionSelected"></lps-question>
</div> -->
  <div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
    <div class="col-md-12">
          <span class="text-primary h3">Wichtige information!</span>
          <ul class="list-group mt-3 mb-3">
            <li class="list-group-item">Sie haben 30 Minuten zeit f&uuml;r 30 Fragen.</li>
            <li class="list-group-item">Bei 8 Falschen Antworten wird die Pr&uuml;fungssimulation abgebrochen.</li>
            <li class="list-group-item">Es gibt <strong>keine</strong> Teilpunkte!</li>
            <li class="list-group-item">Hilfestellungen sind deaktiviert.</li>
          </ul>
          <button type="button" class="btn btn-outline-success blink_me btn-lg">
            Start
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
              <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"></path>
            </svg>
          </button>
        </div>
      </div>
