.list-group-scrollable{
  max-height: 246px;
  margin-bottom: 4px;
  margin-top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.eigeneHoehe{
  height: 120px;
}

.selectedQuestion {
  background-color: #ededed;
}

/**
  * Kleine Blinkanimation =)
*/
.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.25;
  }
}
